.jumbotron {
    background-image: url("../images/barbell.jpg");
    width: 100%;
    height: 50em;
}
.navbar  {
    background-color: #848487 ;
    color: white;
    font-weight: bolder;
}
 .navbar-expand-lg {
     color: white;
 }