body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 10px 0;
    padding: 5px 0;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    padding-left: 8px;

}
.message-info {
    background-color: #D0DEFC;
    color:#6669B1;
}

.message-success {
    background-color: #D6F2DC;
    color:#A1CC9D;
}

.message-warning {
    background-color:#FCFACE;
}

.message-error {
    background-color:#F4D4D7;
}