body{
    background-color: #17263C;
}
#map{
    height: 40em;
    width: 74%;
    float: right;
    border: solid 8px #242F3E;
}
#weather{
    border: solid 2px #242F3E;
    width: 24%;
    background-color: #242F3E;
    color: #F7F7F7;
    font-size: 10px;
    float: left;
}
#appName{
    letter-spacing: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Apple SD Gothic Neo", monospace;
    color: #F7F7F7;
    width: 100%;
    font-size: 3em;
}
br{
    height: 1em;
    background-color: #F7F7F7;
}
