.main-h1{
    color: black;
    font-size: 30px;
}
.img-profile {
    float: left;
    height: 50px;
    width: 50px;
}
.nav-img {
    width: 10px;
    height: 10px;
}
.nav-header {
    display: inline-block;
    list-style-type: none;
    background-color: black;
    color: white;
}